{% extends 'base.html.twig' %}

{% block title %}ITEA News Portal{% endblock %}

{% block main %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ page.getFirstBlockTitle }}</h1>
            <p class="lead text-muted">
                {{ page.getFirstBlockText }}
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">
                    {{ page.getFirstBlockMainBtn }}
                </a>
                <a href="#" class="btn btn-secondary my-2">
                    {{ page.getFirstBlockActionBtn }}
                </a>
            </p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="img/default.png" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis eligendi expedita inventore laborum nihil officiis, repudiandae suscipit! Obcaecati, quibusdam.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Read</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="img/default.png" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, illo!
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Read</button>
                                </div>
                                <small class="text-muted">1 hour</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="img/default.png" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis esse expedita explicabo ipsam magni officiis.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Read</button>
                                </div>
                                <small class="text-muted">2 days</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
