<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p class="float-right">
        <form action="{{ path("newsletter_subscribe") }}">
            <input type="email" name="email" placeholder="Your email to subscribe">
            <input type="submit" value="Subscribe">
        </form>
        </p>
        <p>News Portal &copy; 2018 All rights reserved.</p>
    </div>
</footer>
